/.ListaAbierta.java._trace
/.ListaAbierta.xtendbin
/.ListaTest.java._trace
/.ListaTest.xtendbin
/.Usuario.java._trace
/ListaAbierta.java
/ListaTest.java
/Usuario.java
/.Abierta.java._trace
/.Lista.java._trace
/.ListasTest.java._trace
/.Cerrada.java._trace
/.FormaSuscripcion.java._trace
